extends ../layout

block content
  h1 #{user.profile.name} Registry
  each item in user.registry.items
    h2 Name of Item: #{item.name}
    h2 Price: $#{item.price} ($#{parseInt(item.price) - (item.contributions == undefined || item.contributions.length > 0 ? _.sum(item.contributions, 'amount') : 0)} left)
    h2 URL: #{item.link}
    h2 Description: #{item.description}
    a.btn.btn-primary(href=`/registry/contribute/${item.id}`) Contribute