extends ../layout

block content
  h1 #{user.profile.name} Registry
  each item in user.registry.items
    h2 Name of Item: #{item.name}
    h2 Price: $#{item.price}
    h2 URL: #{item.link}
    h2 Description: #{item.description}
    form.form-horizontal(action='/registry/contribute', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            | Contribute